# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/
env/
my_env/

# Environment variables / Secrets
.env
.env.*
!.env.example

# Django Database
*.sqlite3
*.sqlite3-*
*.sqlite3.backup*
db.sqlite3*

# Static & Media
staticfiles/
media/

# IDE / Editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter Notebook
.ipynb_checkpoints/

# Python build files
*.egg-info/
dist/
build/